.move-circle-left-to-right {
  transform-origin: 55px 400px;
  animation-name: move-circle-left-to-right;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@keyframes move-circle-left-to-right {
  from {
    transform: translate(0) rotate(0deg);
  }
  to {
    transform: translate(1290px) rotate(720deg);
  }
}

/* .rotate-spokes { 
  animation-name: rotate-spokes;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes rotate-spokes {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
} */
